@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #FFD23F;
  --color-secondary:  #E0E0E0;
  --color-background: #216282;
  --color-table-header: #01172F;
  --color-table-cell: #B1DDF1;
  --color-alt: #72A276;
}
