@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-title: #ffd23f;
  --color-subtitle: #e0e0e0;
  --color-input-box: #e0e0e0;
  --color-background: #216282;
  --color-icon-dark: #216282;
  --color-icon-light: #e0e0e0;
  --color-table-header-text: #e0e0e0;
  --color-table-header-bg: #01172f;
  --color-table-cell-text: #01172f;
  --color-table-cell-bg: #b1ddf1;
  --color-image-border: #364153;
  --color-disabled-gray: #6a7282;
}
